<h1 class="text-slate-200 text-center text-2xl font-bold ">
  Hola, Soy Eduard,<span class="bg-gradient-to-r from-white to-primary-600 bg-clip-text text-transparent">Desarrollador web Full-Stack</span> radicado en  
<span class="bg-gradient-to-r from-primary-600 to-white bg-clip-text text-transparent">Bogotá, Colombia.</span>
</h1>

<p class="text-slate-200  text-center mt-4 text-wrap">
  Me apasiona la creatividad y la innovación que ofrece este campo, me gusta mantenerme al tanto de las últimas tendencias y tecnologías. Busco oportunidades que me permitan aplicar mis habilidades y contribuir al éxito de proyectos emocionantes y desafiantes.
</p>


<div class="md:flex justify-between mt-8 md:gap-8">

  <div class="flex justify-between gap-8 md:w-1/2">

    <div class="text-slate-200 flex justify-center items-center w-1/2  bg-wOpacity-600 p-1 rounded-md gap-4 font-semibold" >
       <img src="icons/linkedin.svg" alt="" class="w-8 text-white">
        <p> LinkedIn </p> 
    </div>
  
    <div class="text-slate-200 flex justify-center items-center w-1/2  bg-wOpacity-600 p-1 rounded-md gap-4 font-semibold">
      <img src="icons/gitHub.svg" alt="" class="w-8" > <p>GitHub </p>
    </div>

  </div>
  
  <div class="text-slate-200 flex justify-center items-center w-full  bg-wOpacity-600 p-1 rounded-md gap-4 font-semibold mt-4 md:w-1/2 md:mt-0" > 
    <img src="icons/mail-check.svg" alt="" class="w-8" > 
    <p> Villamileduard0205@gmail.com </p>
  </div>

</div>

