<section>

  <div class="flex gap-4 items-center">
    <img src="icons/suitCase.svg" alt="Icono de maletin" class="w-10">
    <h2 class="text-slate-100 font-bold text-3xl">Experiencia Laboral</h2>
  </div>

  <div class="flex gap-4 mt-4 items-center">
    <img src="icons/code.svg" alt="Icono de codigo de programación" class="w-10">
   <p class="text-slate-400"> 01/04/2024 - Actualmente (Pasantias).</p>
  </div>

  <article class="mt-4">
    <h3 class="capitalize bg-gradient-to-r from-primary-600 to-white bg-clip-text text-transparent font-bold text-2xl">desarrollador Web Full - Stack </h3>
    <p class="capitalize text-primary-200 mt-2 font-bold text-xl">aeronáutica Civil de Colombia.</p>
    <p class="text-slate-100 mt-4"> 
      Participé en el planeamiento y desarrollo de aplicaciones web. Utilicé HTML, CSS y Tailwind CSS para crear interfaces de usuario, y también trabajé con React.js para construir aplicaciones dinámicas. Tambien contribuí al desarrollo de servidores utilizando Node.js y Express.js, acompañado de MySql para  el manejo de datos.
    </p>
  </article>
</section>