<footer class="px-4 md:max-w-[700px] md:mx-auto mb-8">
  <div class=" border-b-2 border-slate-400 border-dashed  md:mt-16 mb-4"> </div>

  <h2 class="text-center text-slate-300 capitalize">desarrollado por Eduard Villamil.</h2>
  <p class="text-center text-slate-300 capitalize">ultima actualización: 2024.</p>
</footer>

 <