<section id="proyectos">
  <div class="flex gap-4 items-center "> 
    <img src="icons/gitBranch.svg" alt="Icono alucivo a una rama de gitHub" class="w-[10]">
    <h2 class="capitalize text-slate-200 text-2xl font-bold">
      proyectos
    </h2>
  </div>
  

  <article class="mt-8 flex flex-col justify-center items-center  md:flex-row  md:justify-normal relative  md:mt-16">
    <div >
      <p class="text-slate-300">proyecto #1</p>
      <h3 class=" w-[200px] capitalize bg-gradient-to-r from-primary-600 to-white bg-clip-text text-transparent font-bold text-2xl ">Aerodatos</h3>
      <p class="text-slate-50 text-sm  md:w-[500px] z-10 relative bg-gradient-to-r from-wOpacity-700 to-primary-400 backdrop-blur-md rounded-md font-semibold p-2 mt-4" >
        Aplicación web para solicitar expedientes de los empleados, asi mismo para llevar el control de la cantidad y tipo de solicitudes creadas, llevar el control del estado de una  solicitud y medir la efectividad al momento de la respuesta.
      </p>
    </div>
    <img src="img/aerodatos.png" alt="Imagen alusiva a la app." class="w-full mt-4 md:mt-0  md:absolute md:max-w-72 md:bottom-0 md:right-0 z-1 rounded-md"> 
  </article>

  
  <article class="mt-8 flex flex-col justify-center items-center  md:flex-row-reverse  md:justify-normal relative md:mt-12 ">
    <div class="md:flex md:flex-col justify-end items-end">
      <p class="text-slate-300 md:text-end">proyecto #2</p>
      <h3 class=" w-[200px] capitalize bg-gradient-to-r from-primary-600 to-white bg-clip-text text-transparent font-bold text-2xl md:text-end">Landing page.</h3>
      <p class="text-slate-50 text-sm  md:w-[500px] z-10 relative bg-gradient-to-r from-wOpacity-700 to-primary-400 backdrop-blur-md rounded-md font-semibold p-2 mt-4" >
        Página web creada para una empresa que dedicada a la fabricación de parques infantiles en Colombia, se utilizó Astro y Tailwind Css para la creación de la misma, estuve encargado de la creación del diseño y el desarrollo.
      </p>
    </div>
    <img src="img/ArmaN.png" alt="Imagen alusiva a la app." class="w-full mt-4 md:mt-0  md:absolute md:max-w-72 md:bottom-0 md:left-0 z-1 rounded-md"> 
  </article>


  
  <article class="mt-8 flex flex-col justify-center items-center  md:flex-row  md:justify-normal relative md:mt-20 ">
    <div >
      <p class="text-slate-300">proyecto #3</p>
      <h3 class=" md:w-[400px] capitalize bg-gradient-to-r from-primary-600 to-white bg-clip-text text-transparent font-bold text-2xl ">Aplicación de encuestas.</h3>
      <p class="text-slate-50 text-sm  md:w-[500px] z-10 relative bg-gradient-to-r from-wOpacity-700 to-primary-400  backdrop-blur-md rounded-md font-semibold p-2 mt-4" >
        Colaboré activamente en el desarolllo de una aplicación web para realizar  encuestas y llevar el control de las mismas, esta aplicación web se desarrollo con Node.js , Mysql y un motor de plantillas(Handlebars).
      </p>
    </div>
    <img src="img/encuestas.png" alt="Imagen alusiva a la app." class="w-full  mt-4  md:mt-0   md:absolute  md:max-w-72  md:bottom-0  md:right-0 rounded-md -z-0"> 
  </article>
</section>

