
<div class="w-full h-[2px] relative bg-white rounded-sm  mt-12 mb-12
  before:block 
  before:w-4
  before:h-4
  before:bg-white
  before:absolute 
  before:left-[50%] 
  before:-translate-x-[50%]   
  before:-translate-y-[50%]
  before:rounded-full  
  before:top-[-50%] 
"></div>



