---
const icons = [
  {
    name: 'HTML',
    value : 7,
    url:'/icons/html.svg'
  },
  {
    name: 'CSS',
    value : 7,
    url:'/icons/css.svg'
  },
  {
    name: 'JavaScript',
    value : 7,
    url:'/icons/javascript.svg'
  },
  {
    name: 'TypeScript',
    value : 6,
    url:'/icons/typescript.svg'
  },
  {
    name: 'Astro',
    value : 6,
    url:'/icons/astro.svg'
  },
  {
    name: 'React',
    value : 8,
    url:'/icons/react.svg'
  },
  {
    name: 'Angular',
    value : 6,
    url:'/icons/angular.svg'
  },
  {
    name: 'Tailwind',
    value : 7,
    url:'/icons/tailwind.svg'
  },
  {
    name: 'Node.js',
    value : 6,
    url:'/icons/nodejs.svg'
  },
  {
    name: 'Mysql',
    value : 6,
    url:'/icons/mysql.svg'
  },

  {
    name: 'MongoDB',
    value : 6,
    url:'/icons/mongoDB.svg'
  },
]
---

<section id="tecnologias"  class="flex flex-col justify-center">
  <div class="flex gap-4 items-center "> 
    <img src="icons/brain.svg" alt="Icono alucivo a una rama de gitHub" class="w-10">
    <h2 class="capitalize text-slate-200 text-2xl font-bold">
      Tecnologías
    </h2>
  </div>

  {icons.map((icon) => 
  <article class="mt-12">
      <div class=" flex items-center gap-4">
        <div>
          <img src= {icon.url} alt="Icono html" class="w-12" >
        </div>
        <div class="w-4/5 relative">
          <p class="absolute right-0 text-slate-400  "> {icon.value < 6 ? 'Basico' : 'Intermedio'}</p>
          <label for="html" class="text-slate-100 font-bold"> {icon.name} </label>
          <meter id="html" value={icon.value} min="0" max="10"  class:list={['w-full rounded-2xl  overflow-hidden', { basico: icon.value < 7  } ]}  ></meter>
        </div>
      </div>
    </article>
  )}

</section>


<style>
  meter::-webkit-meter-bar{
    background-color: #DFC8FF;
    border: none;
    border-radius: .2rem;
  }
  meter::-webkit-meter-optimum-value{
    background-image: linear-gradient(90deg ,#340c69, #9964e4d0);
    border-radius: 0;
  }

 .basico::-webkit-meter-optimum-value{
    background-image: linear-gradient(90deg  , #a590c7db,#8b26a9);
  }

</style> 