<section>
  <div class="flex gap-4 items-center "> 
    <img src="icons/brain.svg" alt="Icono alucivo a una rama de gitHub" class="w-10">
    <h2 class="capitalize text-slate-200 text-2xl font-bold">
      Habilidades
    </h2>
  </div>


  <article class="mt-12">
    <div class=" flex items-center gap-4">
      <div>
        <img src="icons/html.svg" alt="Icono html">
      </div>
      <div class="w-4/5 relative">
        <p class="absolute right-0 text-slate-400">Intermedio</p>
        <label for="html" class="text-slate-100 font-bold"> HTML </label>
        <meter id="html" value="7" min="0" max="10"  class="w-full"></meter>
      </div>
    </div>

  </article>
</section>

<style>
  meter::-webkit-meter-bar{
    background-color: #DFC8FF;
    border: none;
  }
  meter::-webkit-meter-optimum-value{
    background-image: linear-gradient(90deg ,#340c69, #9964e4d0);
    border-radius: .5rem;
  }
</style>

<br><br><br><br><br><br><br><br><br><br>