---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "../styles/styles.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/code.svg" />
		<link rel="shortcut icon" href="/icons/code.svg" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Desarrollador web con conocimientos en lenguajes de programacion como Javascript, typeScript y Nodejs, Manejo  de Frameworks comos React, Astro, Angular.">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<title>{title}</title>
	</head>
	<body class="bg-primary-900">
		<slot />
	</body>
</html>


